body {
    font-size: 100%;
    background:#0000;
}

.closeButton {
	float: right;
}

article, aside {
	display : inline-block;
}

.mainSection, .mainHeader, .mainFooter {
	position:relative;
	width: 80%;
	margin-left: 10%;
	z-index:1;
}

.mainFooter {
	position:relative;
	float:left;
	background-color:lightgrey;
}

.mainHeader > a > img {
	max-width:100%;
}

.mainMenu {
	position:relative;
	float:left;
	/*margin: 0 0 0 10%;*/
	padding-bottom : 20px;
}

.mainArticle {
	position:relative;
	/*margin-left : 270px;*/
	margin-top : 20px;
	padding-left:50px;
	width : 60%;
	max-width:80%;
	overflow-x:auto;
	overflow-y:hidden;
}

.contextPanel {
	width: 250px;
    -khtml-opacity:0;
    -moz-opacity : 0;
    -ms-filter: "alpha(opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);/
    filter : alpha(opacity=0);
    opacity : 0;
	border:solid 1px black;
	
	z-index:10;
}

#connection {
	float : right;
	margin-right : 5%;
}

a {
    text-decoration: none;
}

.mainMenu ul{
	/*position: relative;*/
	display: table; 
	margin: 0 auto;
	padding: 0;
	/*z-index: 10;*/
	background: dodgerblue;
	background: -webkit-linear-gradient(deepskyblue, dodgerblue); 
	background: -moz-linear-gradient(deepskyblue, dodgerblue); 
	background: -ms-linear-gradient(deepskyblue, dodgerblue); 
	background: -o-linear-gradient(deepskyblue, dodgerblue); 
	background: linear-gradient(deepskyblue, dodgerblue);
	border-radius: 3px; 
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
				0 3px 5px rgba(0, 0, 0, .2),
				0 5px 10px rgba(0, 0, 0, .2),
				0 20px 20px rgba(0, 0, 0, .15);
}

.mainMenu ul li{
	width: 12.71em;
	display: table-cell;
	text-align: center;
	color: rgba(0, 0, 0, .7);
	text-decoration: none;
	padding: 0px 0px 0px 0px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset,
				0 -1px 0 hsl(210, 100%, 32%) inset,
				0 -2px 0 hsl(210, 100%, 38%) inset,
				0 -3px 0 hsl(210, 100%, 44%) inset,
				0 -4px 0 hsl(210, 100%, 50%) inset,
				0 -5px 0 hsl(210, 100%, 60%) inset;
	transition: padding .3s, background .3s;
	transition: all .3s .1s;
}

.mainMenu ul li:first-child {
	border-radius: 3px 0 0 3px; 
}

.mainMenu ul li:last-child {
	border-radius: 0 3px 3px 0;
}

.mainMenu ul li:hover,
.mainMenu ul li:focus{ 
	background: rgba(255,255,255,.2);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset, 
				0 -1px 0 hsl(210, 100%, 42%) inset, 
				0 -2px 0 hsl(210, 100%, 48%) inset, 
				0 -3px 0 hsl(210, 100%, 54%) inset, 
				0 -4px 0 hsl(210, 100%, 60%) inset, 
				0 -5px 0 hsl(210, 100%, 70%) inset;
	padding: 0px 10px 0px 10px;
	transition: all .3s 0s;
}	

.mainMenu ul li span::before{
	content: ''; 
	position: absolute; 
	left: 50%; 
	bottom: 9px; 
	margin-left: -2px; 
	width: 4px; 
	height: 4px; 
	border-radius: 50%; 
	background: rgba(0, 0, 0, .5); 
}

.mainMenu ul li span:hover::before,
.mainMenu ul li span:focus::before{ 
	background: white; 
	box-shadow: 0 0 2px white, 
				0 -1px 0 rgba(0, 0, 0, .4);
}

#menu_footer {
	
}

