html, body{
	width:100%;
	height:100%;
	font-size:12px;
}

p {
	padding: 0;
	margin: 0;
}

ul{
	padding: 0;
	margin: 0;
}

div.container{
	min-width:480px;
	max-width:1280px;
	margin: 0 auto;
}

body {
    background:#0000;
	position:relative;
	display:block;
}

.closeButton {
	float: right;
}

article, aside {
	display : inline-block;
}

.mainFooter {
	float:left;
	bottom:0px;
	border-radius: 8px;
	background-color:rgb(200, 200, 200);
}

.mainHeader > a > img {
	max-width:100%;
}

.mainSection{
	min-height: 100%;
}

.mainMenu {
	position:relative;
	width:100%;
}

.contextPanel {
	width: 250px;
	position:absolute;
	top:65px;
	right:0px;
    -khtml-opacity:0;
    -moz-opacity : 0;
    -ms-filter: "alpha(opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);/
    filter : alpha(opacity=0);
    opacity : 0;
	background: hsl(250, 0%, 65%);
	border-radius: 10px;
	border:solid 1px black;
	z-index:10;
}

#connection {
	float : right;
	margin-right : 5%;
}

a{
    text-decoration: none;
}

.mainMenu ul{
	/*position: relative;
	margin: 0 auto;
	width:100%;*/
	text-align:center;
	padding: 0;
	background: rgb(200, 200, 200);
	background: -webkit-linear-gradient(180deg, rgb(100, 100, 100), rgb(200, 200, 200)); 
	background: -moz-linear-gradient(180deg, rgb(100, 100, 100), rgb(200, 200, 200)); 
	background: -ms-linear-gradient(180deg, rgb(100, 100, 100),	rgb(200, 200, 200)); 
	background: -o-linear-gradient(180deg, rgb(100, 100, 100), rgb(200, 200, 200)); 
	background: linear-gradient(180deg, rgb(100, 100, 100),	rgb(200, 200, 200));
	border-radius: 8px; 
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
				0 3px 5px rgba(0, 0, 0, .2),
				0 5px 10px rgba(0, 0, 0, .2),
				0 20px 20px rgba(0, 0, 0, .15);
}

.mainMenu ul li{
	position:relative;
	width: 150px;
	text-align: center;
	display: inline-block; 
	/*color: rgba(0, 0, 0, .7);*/
	list-style-type:none;
	line-height:50px;
	/*text-shadow: 0 1px 0 rgba(200, 200, 200, .4);
	box-shadow: 0 1px 0 rgba(200, 200, 200, .7) inset,
				0 -1px 0 hsl(250, 0%, 75%) inset,
				0 -2px 0 hsl(250, 0%, 75%) inset,
				0 -3px 0 hsl(250, 0%, 75%) inset,
				0 -4px 0 hsl(250, 0%, 75%) inset,
				0 -5px 0 hsl(250, 0%, 75%) inset;*/
	transition: padding .3s, background .3s;
	transition: all .3s .1s;
}

.mainMenu a{
	display: inline-block; 
	width:100%;
}

/*.mainMenu ul li.menu:hover,
.mainMenu ul li.menu:focus{ 
	background: rgba(200, 200, 200,.2);
	box-shadow: 0 1px 0 rgba(200, 200, 200, .7) inset,
				0 -1px 0 hsl(250, 0%, 75%) inset,
				0 -2px 0 hsl(250, 0%, 75%) inset,
				0 -3px 0 hsl(250, 0%, 75%) inset,
				0 -4px 0 hsl(250, 0%, 75%) inset,
				0 -5px 0 hsl(250, 0%, 75%) inset;
	padding: 0px 10px 0px 10px;
	transition: all .3s 0s;
}	*/

.mainMenu ul li a::before{
	content: ''; 
	position: absolute; 
	left: 50%; 
	bottom: 9px; 
	margin-left: -2px; 
	width: 4px; 
	height: 4px; 
	border-radius: 50%; 
	background: rgba(0, 0, 0, .5); 
}

.mainMenu ul li a:hover::before,
.mainMenu ul li a:focus::before{ 
	background: white; 
	box-shadow: 0 0 2px white, 
				0 -1px 0 rgba(0, 0, 0, .4);
}

li.menu a {
	border-width:0;
	color:black;
}

#menu_footer {

}

#menu_footer {
	display:table;
	border-radius: 8px;
}

article.book_list{
	display:block;
	padding-left:20px;
	width:auto;
}

.mainArticle {
	position:relative;
	/*margin-left : 270px;*/
	/*padding-left:50px;*/
	margin-top : 5px;
	width : 100%;
	min-height:500px;
	text-align: left;
	color: rgba(0, 0, 0, .7);
	padding: 0px 0px 0px 0px;
	background: rgb(200, 200, 200);
	background: -webkit-linear-gradient(180deg, rgb(100, 100, 100), rgb(200, 200, 200)); 
	background: -moz-linear-gradient(180deg, rgb(100, 100, 100), rgb(200, 200, 200)); 
	background: -ms-linear-gradient(180deg, rgb(100, 100, 100),	rgb(200, 200, 200)); 
	background: -o-linear-gradient(180deg, rgb(100, 100, 100), rgb(200, 200, 200)); 
	background: linear-gradient(180deg, rgb(100, 100, 100),	rgb(200, 200, 200));
	border-radius: 8px; 
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
				0 3px 5px rgba(0, 0, 0, .2),
				0 5px 10px rgba(0, 0, 0, .2),
				0 20px 20px rgba(0, 0, 0, .15);
	overflow-x:auto;
	overflow-y:hidden;
}

.article{
	width:50%;
	margin : 0px auto 0px auto;
}

.author_info {
	float:right;
	padding-right:15px;
	/*text-align:right;*/
}
